 # <center>Assignment 1(Iqra_AI)</center>

# Question no.1: Write a program that uses input to prompt a user for their name and then welcomes them.
Enter your name: Chuck
Hello Chuck

In [12]:
name=input("enter your name:")
print("hello", name)

enter your name:iqra bhatti
hello iqra bhatti

# Q2: Write a program to prompt the user for hours and rate per
hour to compute gross pay.
Enter Hours: 35
Enter Rate: 2.75
Pay: 96.25
We won’t worry about making sure our pay has exactly two digits after the decimal
place for now. If you want, you can play with the built-in Python round function
to properly round the resulting pay to two decimal places.

In [13]:
hours=int(input("enter hours:  "))
rate=float(input("enter rate"))
pay=print(hours*rate)

enter hours:  35
enter rate2.75
96.25

# Q3: Assume that we execute the following assignment statements:
width = 17
height = 12.0
For each of the following expressions, write the value of the expression and the
type (of the value of the expression).
1. width//2
2. width/2.0
3. height/3
4. 1 + 2 * 5
Use the Python interpreter to check your answers.

In [3]:
width = 17
height = 12
#Quotient
q=width//2
print(q)
type(q)

8

int

In [6]:
#division
di = width/2
print(di)
type(di)

8.5

float

In [14]:
#division
height= 12
d = height/3
print(d)
type(d)

4.0

float

In [15]:
1+2*5

11

# Q4: Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the converted temperature.

In [7]:

temp = float(input("celcius temp:   "))
tempreture = (float(temp*1.8)+32)
print("farenheit tempreture", tempreture)

celcius temp:   22
farenheit tempreture 71.6

# Q6: Write Python statements to calculate and print the simple profit using 
variables c, r and t for capital, rate of profit and time duration respectively.

In [2]:
#calculate inerest
p = 3
t = 6
r = 8
s = (p*t*r)
print(s)

144

# Q7: Write Python statements to create 2 complex objects and print their sum, difference and product.

In [3]:

#addition
print("enter two complex numbers i.e:a+bj")
number1  =  complex (input()) 
number2  =  complex (input())
print("sum", number1+number2)

enter two complex numbers i.e:a+bj
4+8j
10+16j
sum (14+24j)

In [1]:
#difference
print("enter two complex numbers i.e: a-bj")
n1 = complex (input())
n2 = complex (input())
print("difference" , n1-n2)

enter two complex numbers i.e: a-bj
5-3j
3-1j
difference (2-2j)

In [3]:
#complex
print("enter two complex numbers i.e: a*bj")
s1 = complex(input())
s2 = complex(input())
print("product" , s1 * s2)

enter two complex numbers i.e: a*bj
8
4
product (32+0j)

# Q8: Write Python statements to accept a string from the user and print it in title case.

In [21]:
#string in title case
string = "enter in title case"
string.title()

'Enter In Title Case'

# Strings

# Q1: Take the following Python code that stores a string:
str = 'X-DSPAM-Confidence:0.8475'
Use find and string slicing to extract the portion of the string after the colon character and then use the float function to convert the extracted string into a floating point number.

In [30]:
txt = "X-DSPAM-confidence:0.8475"
txt.find(":")
n1 = txt.find(":")
print(n1)
type(n1)

18

int

In [32]:
n2 = txt[19:]
print(n2)
type(n2)

0.8475

str

# Q2: Here is a string in python:
my_str = “Welcome to the Course on Data Science.”
Do the following:
- Split the string’
- Print only first 10 letters
- Make a new string from this, such that it has only these Words: “Welcome Science”

In [34]:
#string function
#split
my_str = "welcome to the course on data science"
my_str.split()

['welcome', 'to', 'the', 'course', 'on', 'data', 'science']

In [35]:
#slice
y = my_str[0:11]
print(y)

welcome to

In [36]:
#welcome science
my_str.split("to the course on data")

['welcome ', ' science']

# Q3: Write a Python script to calculate the number of occurrences of a given character in an any given string.

In [41]:
#count occurance of a character
#solution1:
str_1 = "I live in lahore, which is a city in Pakistan"
print(str_1.count("lahore"))

1

# Q4: Write a Python script to count the number of occurrences of each word in a given string.

In [43]:
#count each character
str_2 = "i am a student"
print(str_2.count(""))

15

# Q5: Write a Python script to form a string out of the first 2 and last 2 characters from the given string. For example, given the string “I am a student”, the output expected is “I nt”.

In [2]:
str_3 = "i am a student"
lis = str_3.split("am a stude")
print(lis)

['i ', 'nt']

In [3]:
#merging list indexes.
conct = lis[0] + lis [1]
print(conct)

i nt

In [4]:
print(str_3)

i am a student

In [5]:
conct2 = str_3[0] + "  " + str_3[-2:]
print(conct2)

i  nt

# Q 1: Make a modify it by removing the first and last elements. Then make a list called middle that contains all except the first and last elements.

# Lists

In [4]:
list_1 = [2,3,4,5,6,7,8]
list_1.remove(2)
print(list_1)
list_1.remove(8)
print(list_1)

[3, 4, 5, 6, 7, 8]
[3, 4, 5, 6, 7]

# Q2: Create a list of some text and find the unique words in it.

In [1]:
list_1 = [2,3,5,2,3,2,6,7,8,2]
list_1 = set(list_1)
print(list_1)

{2, 3, 5, 6, 7, 8}

# Q3: Write a program to add all the items in a list.

In [2]:
list_1 = [2,3,5,8]
w = sum(list_1)
print(w)

18

# Q4. Write a program to get the largest and smallest number in a list.

In [3]:
list = [23,45,78,90]
print("max:",max(list))
print("min:",min(list))

max: 90
min: 23

# Q5: Write a program to remove duplicates from a list.

In [5]:
list_1 = [7,8,9,7,1,2,6,7,8,9]
y=set(list_1)
print(y)

{1, 2, 6, 7, 8, 9}

# Q6: Write a program that prints whether at least one member of the given two lists are same.

In [6]:
x = {"laptop","book","pen"}
y = {"laptop","book","pen","table"}
z = x.intersection(y)
print(z)

{'pen', 'laptop', 'book'}

# Q7: Write a program to convert a list of characters into a string.

In [16]:
list1=[1,2,3,6,4,]
type(list1)

list

In [21]:
list=str(list)

In [22]:
type(list)

str

# Q8: Write a program to check whether two lists are identical.

# Question no.8

In [23]:
list_1 = [1,4,5,8,9]
list_2 = [1,4,5,8,9]
if list_1==list_2:
    print("the list are indentical")
else:
    print("the list are not identical")

the list are indentical

# Q9: Write a program to print unique values from a list.

In [26]:
list1 = [1,67,98,23,2]
list1 = set(list1)
print(list1)

{1, 2, 98, 67, 23}

# Q10: Write a program to print the number of occurrences of each element in a list.

In [32]:
list1=input("enter")
list1.count('a')

enterLahore is a very bigest city

2

In [31]:
x=input("")
x.count('b')

bushra

1

# Q11: Write a program to find the sub-list in a list of lists whose sum of elements is the highest.

In [33]:
element = [[1,5,8,9],[12,64,23],[90,100,123]]
print(max(element,key=sum))

[90, 100, 123]

# Q12: Write a program to insert a given string at the beginning of all the strings in a list.

In [39]:
list = [1,4,5,7,9]
list.insert(2,'3')
print(list)

[1, 4, '3', 5, 7, 9]

# Q13: Write a program to convert a string to a list of characters.

In [1]:
string_chng = "this is my school"

#1.by spliting
x = string_chng.split()
print(x)

['this', 'is', 'my', 'school']

In [2]:
#2.by typecasting
list(string_chng)

['t',
 'h',
 'i',
 's',
 ' ',
 'i',
 's',
 ' ',
 'm',
 'y',
 ' ',
 's',
 'c',
 'h',
 'o',
 'o',
 'l']

# Q14: Write a program to concatenate elements of a list with corresponding
elements of another given list.

In [12]:
list_1 = [1,2,3,4,5]
list_2 = [3,4,5,6,7]
w = list_1 + list_2
print(w)

[1, 2, 3, 4, 5, 3, 4, 5, 6, 7]

# Q15: Write a program to split a list every n-th element to obtain a list of lists.

In [8]:
# creating sublists.
list_of_list = [1,2,3,4,5,6,7,8,9]

#using slice.
list1 = list_of_list[0:3]
list2 = list_of_list[3:5]
list3 = list_of_list[5:9]

# print the separated lists
print(list1)
print(list2)
print(list3)

[1, 2, 3]
[4, 5]
[6, 7, 8, 9]

In [10]:
#merge lists to make list of lists.
[list1]+[list2]+[list3]

[[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Q16: Write a program to convert a list of multiple integers into one single integer.
Thus, the list [25,12,2] should get converted to the number 25122.

In [12]:
 a=[25,12,2]
for i in a:
    print(i,end="")

25122

# tuple

# Q1: Write a program to convert a tuple of values into a tuple of singleton tuples of values. Thus, (1,2,3) should get converted to ((1,)(2,),(3,)).

In [1]:
a=(1,2,3)
tup=(a[0:1],a[1:2],a[2:3])
print(tup)

((1,), (2,), (3,))

# Q2: Write a program to count the number of elements in a list until it finds a tuple in the list.

In [2]:
lst=[1,"b",(1,2),['a','c']]
e=[]
for x in lst:
    if type(x) is not tuple:
        e.append(x)
        print(e)

[1]
[1, 'b']
[1, 'b', ['a', 'c']]

# Question no.2

In [5]:
#conting of list elements to find tuples:
list=[1,2,(3,45),22,45]
ctr=0
for element in list:
    if isinstance(element,tuple):
        
        ctr+=2
        print(ctr)

2

# Q3: Write a program to add corresponding elements of two given tuples, giving rise to a new tuple.

In [6]:
#addition of tuples:
tup_1 =(1,2,3,4)
tup_2 =(5,6,7,8)

#first import operator(the  oprator is imported first to be used)
import operator #operator is use to perform various functions on values and variables.

#convert to tuple and add it:
w= tuple(map(operator.add,tup_1, tup_2))#map performs the function all the values and given result.
print(w)

(6, 8, 10, 12)

In [7]:
 for num in tup_1:
        for num1 in tup_2:
             print(num + num1)

6
7
8
9
7
8
9
10
8
9
10
11
9
10
11
12

# Q4: Write a program to multiply each element of a given tuple with a given integer, giving rise to a new tuple.

In [2]:
#multiply tuples with integers:
mul_tup = (1,2,3,4)*4
print(mul_tup)

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

# Sets

# Q1: Add few unique numbers in a set and use the 'in' operator to search for an element.

In [3]:
#use in operator to check if element are present
odd_set=[1,3,5,7,9,]
a=1 in odd_set
print(a)
#example for false:
b=6 in odd_set
print(b)

True
False

# Q2: Write a program to convert a list of integers into a list of unique integers using sets.

# Question no.2

In [8]:
#convertlist of int to unique ints:
lis_in =[3,4,5,6,7]

#convert to set:
p =set(lis_in)
print(p)
#change back to list:
list(p)

{3, 4, 5, 6, 7}

[3, 4, 5, 6, 7]

# Q3: Assume that we have 2 lists, each having only IP addresses as its contents.
Write a program to determine if the 2 lists have the same IP addresses (albeit in different positions) in the most optimal manner.

# Question no.3

In [8]:
ip_addresses_1 =[122243,56473829,85638778]
ip_addresses_2 =[56473829,85638778,122243]
for item in ip_addresses_1: 
    for thing in ip_addresses_2:
        if item == thing:
            print(ip_addresses_1+ip_addresses_2 )

[122243, 56473829, 85638778, 56473829, 85638778, 122243]
[122243, 56473829, 85638778, 56473829, 85638778, 122243]
[122243, 56473829, 85638778, 56473829, 85638778, 122243]

# Dictionaries:

# Q1: Prepare a dictionary that has roll numbers as keys and marks as values. Print all the keys. Print all the values. Get 2 different values using their keys.

# Question no.1

In [11]:
#prepare dictionaries with roll numbers:
reg_dic={1:10,2:12,3:15,4:20}

#print all the keys:
print(reg_dic.keys())
#print all values
print(reg_dic.values())

#print two values using their keys:
items=reg_dic[1]
print(items)
items2=reg_dic[3]
print(items2)

dict_keys([1, 2, 3, 4])
dict_values([10, 12, 15, 20])
10
15

# Q2: A shop has following commodities with its inventory maintained in a dictionary:
comm = {
'chair' : 10,
'table' : 22,
'sofa-set': 2,
'tv-unit': 0,
'fan': 10,
'table-lamp': 0,
'iron-box': 0,
'bed': 30
}

and its price in another dictionary

price = {
'chair': 2365,
'table': 37752,
'sofa-set': 23299,
'tv-unit': 120344
'bed': 40226
}

Accept the number of items for each commodity sold from standard input and at the end do the following:

1. Evaluate the income made by the shop owner.
2. If user enters a commodity that is not available in the shop, display appropriate message.
3. If user enters a quantity that is beyond the available limit, display the size of the inventory.
4. Display the inventory available.

In [10]:
comm={'chair' : 10,'table' : 22,'sofa-set': 2,'tv-unit': 0,'fan': 10,'table-lamp': 0,'iron-box': 0,'bed': 30}
price ={'chair': 2365,'table': 37752,'sofa-set': 23299,'tv-unit': 120344,'bed': 40226}

In [ ]:
#Q.1: Find income of shopkeeper.
#Q.2: If an item is entered that is not available, display appropriate message.
#Q.3: Display message for item that is out of stock.
#Q.4:Display inventory.
cash = 0 # cash we have at the beggining.

while True: #While loop so that code works more than one.
    
    commodity_given = input("enter your purchase: ")
    
    #to break the loop when purchase is made and no further work is required.
    if commodity_given == ("quit"):
        print("Thank you for shopping. come back soon.")
        break
                    
    #the number of items in stock i.e, the value of the comm dict.
    quantity = int(input("enter quantity of purche:  "))
        
    # check if the item is available in comm.
    if commodity_given in comm.keys():
        print("available")
            
    #To check if the commodity_given is available in stock or keys or values of comm.
        if comm[commodity_given]>0 and quantity<=comm[commodity_given]:
            print("avialable in stock")
            
            #to calculate the income of shopkeeper i.e, the cash given by customer.
            cash = cash+(price[commodity_given]*quantity)
            print("cash is:",cash)

            #display of inventory of the items left after purchase has been made.
            comm[commodity_given] = comm[commodity_given]-quantity
            print(comm.items())#will show all items(keys and values) in comm.
        
            #when value entered exceeds the quantity available.
        else:
            print("not available in stock")

         #when item is not available in the list

    else:
        print("item not found")

enter your purchase: bed
enter quantity of purche:  2
available
avialable in stock
cash is: 80452
dict_items([('chair', 0), ('table', 22), ('sofa-set', 2), ('tv-unit', 0), ('fan', 10), ('table-lamp', 0), ('iron-box', 0), ('bed', 28)])